#projects img {
  width: 100%;
}
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.card-1 {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.582);
  cursor: pointer;
  display: none;
  transition: all 0.5s ease;
}
.ptag {
  padding: 5% 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.301);
  padding: 50px 10px;
  font-weight: 100%;
  padding-top: 30px;
  border: 4px solid whitesmoke;
  font-size: 1.1em;
  line-height: 90%;
  margin: 20% 5%;
  overflow: hidden;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
}
@media screen and (max-width:450px) {
  .form-cont input {
      width: 100%;
      margin-top: 10px;
  } 
  body{
      overflow-x: hidden;
  }
}
@media screen and (max-width:1024px) {
  * {
      font-size: calc(1vw + 1vh + .5vmin);
  }
}